



.id{
    width:200px;
    border:1px solid gray;
}

.titulo{
    width:100px;
    border:1px solid gray;
}

.descripcion{
    width:50%;
    border:1px solid gray;
}

.tags{
    width:80px;
    border:1px solid gray;
}

.data{
    width:200px;
    border:1px solid gray;
}

.iconTable{
    width:30px;
    margin-left:30px;
    border:1px solid gray;
}