.content{
    position:relative;
    height:100%;
    width:100%;
    border-right:5px solid #70665E;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}

.line{
    position:relative;
    width:75%;
    height:5px;
    background-color: #70665E;
    margin-left:40px;
}

.title{
    color:#70665E;
    font-size:30px;
}

@media (max-width: 1500px){
    .title{
        font-size:2em;
    }
}

@media (max-width: 768px){
    .title{
        padding-left:10px;
    }
}