.tabcontent{
    position:relative;
    height:100%;
    width:100%;
    display: flex;
    flex-direction:row;
    align-items: center;
}

.subtitle{
    position:relative;
    height:100%;
    display:flex;
    flex-direction: row;
    align-items:center;
}

@media (min-width:1200px){
.tabcontent{
    display:flex;
    flex-direction:row;
    position:relative;
    width:1200px;
    height:100%;
    display:flex;
    flex-direction:row;
    
}

.tab{
    position:relative;
    width:90%;
    height:100%;
    display:flex;
    flex-direction:row;
    justify-self: left;
}

.subtitle{
    position:relative;
    width:10%;
    height:100%;
    color:white;
    display:flex;
    flex-direction:row;
    justify-self: center;
    align-content: center;
}



.verTodos {
   outline: none;
    border:none;
    background:none;
    color:white;
    padding-bottom:5px;
    font-size: 20px;
    padding:2px;
   
}

}

@media (max-width:768px){
    .subtitle{
        width:80px;
    }

    .tabcontent{
        display: flex;
        flex-direction:row;
        justify-content: right;
    }
}