.content{
    position:relative;
    width:1200px;
    height:auto;
    display:flex;
    flex-direction:row;
    align-content: center;
    justify-content: center;
    background-color:#1A1818;
}

.seconContent{
    position:relative;
    width:90%;
    height:100px;
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    border-left:5px solid white;
    border-right:5px solid #66625F;
    border-bottom:5px solid #66625F;
    padding-left: 10%;
    padding-right:10%;
}

@keyframes grand{
    0%{
        width:50px;
        height:50px;
    }   

    50%{
        width:80px;
        height:80px;
    }

    100%{
        width:50px;
        height:50px;
    }
}

.img{
    width:50px;
    height:50px;
    box-shadow: 10px 5px 5px black;
}

.img:hover{
    animation-name: grand;
    animation-duration: 1s;
    animation-fill-mode: backwards;
}

.imgWhite{
    width:50px;
    height:50px;
    color:white;
    box-shadow: 10px 5px 5px black;
}

.imgWhite:hover{
    animation-name: grand;
    animation-duration: 1s;
    animation-fill-mode: backwards;
}