.content{
    position:relative;
    width:100%;
}

.table{
    position:relative;
    width:100%;
    border-collapse: collapse;
    border-color: bisque;
    margin-top:20px;
}

.th{
    background-color: gray;
    padding: 10px;
}


