/** Contents */
.content{
    display:flex;
    flex-direction:row;
    width:1200px;
    max-width: 1200px;
    background-color:#1A1818;
    overflow: hidden;
    padding-top:20px;
    height:120px;
}

.contentSecond{
   position:relative;
   display:flex;
   width:100%;
   height:100%;
   margin:0;
   padding:0;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
  
}

@keyframes Move {
    from { transform: skewY(-20deg); }
    to {transform: skewY(0);}
}

/** Icons */
.linkedin{
   width:100px !important;
   display: flex;
   position:relative !important;
   max-height: 100px;
   filter: invert(23%) sepia(100%) saturate(1889%) hue-rotate(197deg) brightness(95%) contrast(92%);
}

.github{
   width:100px!important;
   display:flex;
   position:relative !important;
   filter: invert(12%) sepia(26%) saturate(335%) hue-rotate(173deg) brightness(89%) contrast(93%);
}

@keyframes animationCloseEmail {

    from { 
        width:300px;
    }

    to {
        width:0px;
    }

}

@keyframes animationOpenEmail {
    from { 
        width:0px;
    }

    to {
        width:300px;
    }
}

.emailContent{
    display:flex;
    flex-direction:row;
    align-items: center;
}

.email{
  width:100px!important;
  display:flex;
  position:relative !important;
  filter: invert(13%) sepia(49%) saturate(4930%) hue-rotate(5deg) brightness(94%) contrast(103%);
}

.emailCloseStart{
    display:flex;
    margin:0px;
    width:0px;
    overflow:hidden;
    margin-left:5px;
   
}

.emailClose{
    display:flex;
    margin:0px;
    overflow:hidden;
    margin-left:5px;
    animation-name: animationCloseEmail;
    animation-duration: 2s;
    animation-fill-mode: forwards; 
}

.emailOpen{
    display:flex;
    position:relative;
    overflow:hidden;
    margin-left:5px;
    animation-name: animationOpenEmail;
    animation-duration: 2s;
    animation-fill-mode: forwards; 
}

.linkedin:hover{
   border: 5px solid black;
}

.email:hover{
    border: 5px solid black;
}

.github:hover{
    border: 5px solid black;
}   

/** Input Style Copy Email*/

.copyInit{
    display:none;
    overflow: hidden;
}

.copyEmailContent{
    display:flex;
    position:relative;
}

.copyInput{
    display:flex;
    width:200px;
    height:30px;
    outline:none;
    border:none;
    text-align: center;
}

.copyBtn{
    width:30px;
    height:30px;
    background-color: rgb(71, 0, 0);
    color:white;
    outline:none;
    border:none;
}








